botorch==0.8.3
cachestore==0.3.0
catboost==1.2
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
cmake==3.26.3
contourpy==1.0.7
cycler==0.11.0
einops==0.6.1
gpytorch==1.9.1
joblib==1.2.0
numpy==1.24.2
pandas==2.0.1
pathtools==0.1.2
pillow==9.5.0
pip==23.0.1
pytz==2023.3
pyyaml==6.0
requests==2.29.0
scikit-learn==1.2.2
scipy==1.10.1
setuptools==65.6.3
timer==0.2.2
torch==2.0.0
tqdm==4.65.0
urllib3==1.26.15
wandb==0.15.1
wheel==0.38.4
xgboost==1.7.5
https://github.com/ridwan-salau/cost-aware-bo/archive/refs/heads/master.zip